/* header css */

.nav_text{
    cursor: pointer;
    transition-duration: 500ms;
    transition: all ease-in-out;
}
button:disabled{
    background-color: gray;
    cursor: not-allowed;
}

.hx2::-webkit-scrollbar{
    width: 0;
    height: 0;
    display: none;
}
.cart_scroll::-webkit-scrollbar{
    display: none;
}
.image{
    filter: drop-shadow(-10px 20px  20px rgba(99, 71, 71, 0.167));
}

.swiper-button-prev{
    top: -68.5% !important;
    right: 10% !important;
    left: 80% !important;
    z-index: 1000 !important;
}
.swiper-button-prev::after{
    font-size: 1rem !important;
    font-weight: bold;
    color: #e80013;
}
.swiper-button-next{
    top: -68.5% !important;
    right: 0% !important;
    left: 90% !important;
    z-index: 1000 !important;
}
.swiper-button-next::after{
    font-size: 1rem !important;
    font-weight: bold;
    color: #e80013;
}
.swiper{
    overflow: visible !important;
}

@media screen and (min-width:780px) {
    .swiper-button-next{
        left: 98% !important;
    }
    .swiper-button-prev{
        left: 95% !important;
    }
}

@media screen and (max-width:377px) {
    .card{
        width: 8rem;
    }
    .card img{
        margin-top: -4rem;
    }
    .card p{
        font-size: .8rem;

    }
    html{
        font-size: 85%;
    }
}

.textx{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}



/* cards css */
.cardx{
    width: calc(100% / 2 - .5rem );
}

@media screen and (min-width:530px) {
    .cardx{
        width: calc(100% / 3 - 1rem );
    }
}
@media screen and (min-width:1200px) {
    .cardx{
        width: calc(100% / 5 - 1.3rem );
    }
}